body{
  background-color: #2f2f2f;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  width: 300px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  height: 50px;
  color: black;
}

ul{
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
  text-align: center;
}

li{
  font-size: 20px;
  font-weight: 800;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.date{
  width: 400px;
  margin: 30px;
  height: 100px;
  font-size: 30px;
}

.containerChanges{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "changes dates";
}

.dates{
  color: azure;
  grid-area: dates;
}

.changes{
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: changes;
}
